<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

	<title>{{ app['cms.settings'].APP_NAME }} | Autentificare</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  </head>

  <body>

    <div class="container">

		<form action="{{ path('admin_login_check') }}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Autentificare</h2>
			{{ error }}
			<label for="inputEmail" class="sr-only">Utilizator</label>
			<input id="inputEmail" type="text" name="_username" value="{{ last_username }}" class="form-control" placeholder="Utilizator" autofocus/>
			<label for="inputPassword" class="sr-only">Parola</label>
			<input id="inputPassword" type="password" class="form-control" name="_password" value="" placeholder="Parola" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Autentificare</button>
			<a href="/" class="pull-right">Prima pagina</a>
      </form>

    </div> <!-- /container -->
  </body>
</html>
