{% extends layout_template  %}

{% block title %}Inregistrare{% endblock %}
{% block additional_css %}
<link rel='stylesheet' href='/css/select2.css' type='text/css' media='all'/>
<style>
ul.store_errors {
	padding-left: 0px;
	list-style-type: none;
	color: red;
}
</style>
{% endblock %}

{% block content %}

	<div id="content" class="container">
		<div class="row">
			<div class="main col-md-12" role="main">
				<div class="entry-content" itemprop="mainContentOfPage">
					<div class="woocommerce">
						<div class="woocommerce-info">Ati mai cumparat de la noi? <a href="{{ path('login_form') }}" class="showlogin">Click aici pentru autentificare</a></div>
						<form method="post" class="login" style="display:none;">
							<p>Daca ati mai cumparat de la noi, va rugam sa va autentificati. Daca sunteti utilizator nou, va rugam sa completati campurile de mai jos.</p>
							<p class="form-row form-row-first">
								<label for="username">Username or email <span class="required">*</span></label>
								<input type="text" class="input-text" name="username" id="username" />
							</p>
							<p class="form-row form-row-last">
								<label for="password">Password <span class="required">*</span></label>
								<input class="input-text" type="password" name="password" id="password" />
							</p>
							<div class="clear"></div>
						</form>
						<form class="checkout woocommerce-checkout" method="POST" action="" novalidate>
							<div class="col2-set" id="customer_details">
								{% if error %}
									<div class="alert alert-danger" style="color:red">{{ error|nl2br }}</div>
								{% endif %}
								<div class="col-1">
									<div class="woocommerce-billing-fields">
										<h3>Formular inregistrare</h3>
										<p class="form-row form-row-wide">
											<label for="input-name">Name</label>
											<input class="input-text" name="name" type="text" id="input-name" placeholder="Nume" value="{{ name }}">
										</p>
										<p class="form-row form-row-wide">
											<label for="input-email">Email</label>
											<input class="input-text" name="email" type="email" id="input-email" placeholder="Email" required value="{{ email }}">
										</p>
										<p class="form-row form-row-wide">
											<label for="input-username">Utilizator</label>
											<input class="input-text" name="username" type="text" id="input-username" placeholder="Utilizator" required value="{{ username }}">
										</p>
										<p class="form-row form-row-wide">
											<label for="input-password">Parola</label>
											<input class="input-text" name="password" type="password" id="input-password" placeholder="Parola">
										</p>
										<p class="form-row form-row-wide">
											<label for="input-password">Reintroduceti Parola</label>
											<input class="input-text" name="confirm_password" type="password" id="input-password" placeholder="Parola">
										</p>
									</div>
									<div class="clear"></div>
									<div class="form-row place-order">
										<input type="submit" class="button alt" value="Inregistrare">
									</div>
								</div>
								<div class="col-2">
									&nbsp;
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
{% endblock %}
